services:
    server:
        build: ./server
        container_name: api
        environment:
            - API_PORT=3000
        ports:
            - '3000:3000'
        pid: 'host'
        volumes:
            - /proc:/host_proc:ro
        networks:
            - htop-network

    frontend:
        build: ./frontend
        container_name: frontend
        ports:
            - '3001:80'
        networks:
            - htop-network
        environment:
            - NODE_ENV=production

networks:
    htop-network:
        driver: bridge
